/* roboto-300 - cyrillic_latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Light'), local('Roboto-Light'),
       url('./fonts/roboto-v20-cyrillic_latin-300.woff2') format('woff2'),
       url('./fonts/roboto-v20-cyrillic_latin-300.woff') format('woff');
}
/* roboto-regular - cyrillic_latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'),
       url('./fonts/roboto-v20-cyrillic_latin-regular.woff2') format('woff2'),
       url('./fonts/roboto-v20-cyrillic_latin-regular.woff') format('woff');
}
/* roboto-700 - cyrillic_latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'),
       url('./fonts/roboto-v20-cyrillic_latin-700.woff2') format('woff2'),
       url('./fonts/roboto-v20-cyrillic_latin-700.woff') format('woff');
}
/* roboto-900 - cyrillic_latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  src: local('Roboto Black'), local('Roboto-Black'),
       url('./fonts/roboto-v20-cyrillic_latin-900.woff2') format('woff2'),
       url('./fonts/roboto-v20-cyrillic_latin-900.woff') format('woff');
}

/* roboto-condensed-300 - cyrillic_latin */
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Condensed Light'), local('RobotoCondensed-Light'),
       url('./fonts/roboto-condensed-v18-cyrillic_latin-300.woff2') format('woff2'), 
       url('./fonts/roboto-condensed-v18-cyrillic_latin-300.woff') format('woff'); 
}
/* roboto-condensed-regular - cyrillic_latin */
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Condensed'), local('RobotoCondensed-Regular'),
       url('./fonts/roboto-condensed-v18-cyrillic_latin-regular.woff2') format('woff2'), 
       url('./fonts/roboto-condensed-v18-cyrillic_latin-regular.woff') format('woff'); 
}
/* roboto-condensed-700 - cyrillic_latin */
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Condensed Bold'), local('RobotoCondensed-Bold'),
       url('./fonts/roboto-condensed-v18-cyrillic_latin-700.woff2') format('woff2'), 
       url('./fonts/roboto-condensed-v18-cyrillic_latin-700.woff') format('woff'); 
}

body {
  font-family: 'Roboto', sans-serif;
  color: #262626;
  background-color: #fff;
}

h1, h2, h3, h4, h5 {
  font-family: 'Roboto Condensed', sans-serif;
}